.img-responsive {
  cursor: pointer;
}

.modal-container {
  padding: 20px;
}

.modal-heading {
  margin: 5px;
}

.modal-img-container{
  display: inline-block;
}

.modal-img-desc {
  font-size: 18px;
  margin: 5px 5px 20px 5px;
}

.modal-img {
  margin: 5px 5px 5px 5px;
}
