.grow {
  cursor: pointer;
  -webkit-transition:all .2s ease;
  -moz-transition: all .2s ease;
  transition:all .2s ease;
  position: relative;
  z-index: 1;
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 2;
  position: relative;
}

.modal-container {
  padding: 20px;
}

.modal-heading {
  margin: 5px;
}

.modal-img-container{
  display: inline-block;
}

.modal-img-desc {
  font-size: 18px;
  margin: 5px 5px 20px 5px;
}

.modal-img {
  margin: 5px 5px 5px 5px;
}

.link-cv:hover {
  text-decoration: none;
}
